body{
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Hanalei Fill', cursive;
    color:maroon;
}
h1,h4{
    text-align: center;
}
p,a{ 
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:pink;
    text-align: center;
}
ul,ol{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(202, 202, 131);
}
nav ul{ 
    background-color: rgb(44, 43, 43);
    margin: 0px;
    padding: 35px;
}
ul li{
    display: inline-block;
    margin-left: 30px;
    margin-right: 50px;
    font-size: 25pt;
    
}
ul li a:hover{
    color: darkred;
}
img{
    margin:auto;
    display: block; 
}
body{
    background-color: rgb(14, 15, 0);
}
body nav img{
    float: left;
    width: 100px;
    height: 50px;
    margin-bottom: 10px;

}
table tr td img{
    width: 350px;
    height: 180px;
    margin-left: 75px;
    margin-right: 75px;
    padding: auto;
}

table tr td {
    width: 200px;
    margin: auto;
}
footer ul{
    text-align: center;
    font-size: 2pt;
    margin: 0;
}
footer ul li{
    margin-bottom: 20px;
}
footer{
    background-color: rgb(44, 43, 43) ;
    
}
h1{
    font-size: 35pt;
}
h4 {
    font-size: 15pt;
    text-align: center;
}
section ol img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
}
figcaption{
    text-align: center;
}
section ol li{
    display: inline-block;
}