h1,h2,h3,h4,h5,h6 {
    font-family: 'Hanalei Fill', cursive;
    color: rgb(104, 11, 141);
}
h1,h4{
    text-align: center;
}
p,a{ 
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:pink;
    text-align: center;
}
ul,ol{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(202, 202, 131);
}
nav ul{ 
    background-color: rgb(172, 9, 172);
    margin: 0px;
    padding: 20px;
}
ul li{
    display: inline-block;
    margin-left: 30px;
    margin-right: 50px;
}
img{
    margin:auto;
    display: block; 
}
body{
    background-color: rgb(14, 15, 0);
}
